body {
background-color: teal;
}

h1 {
  font-size: 60px;
  text-align: center;
  padding-bottom: 100px;
}

#issue {
  padding-right: 300px;
  margin-right: 50%;
}

.btn {
  color: teal;
  background-color: white;
  margin-top: 50px;
  margin-left: 5px;
}

label {
  color: white;
}

.findDoctor {
  margin-top: 80px;
  font-size: 40px;
}

#head {
  color: white;
}
