body {
background-color: teal;
}

h1 {
  font-size: 120px;
  color: white;
  text-align: center;
  padding-bottom: 100px;
  font-family: 'Nova Oval', cursive;
}

#issue {
  padding-right: 300px;
  margin-right: 50%;
}

.btn {
  color: teal;
  background-color: white;
  margin-top: 50px;
  margin-left: 5px;
  font-size: 15px;
}

label {
  color: white;
}

.findDoctor {
  margin-top: 80px;
  font-size: 40px;
}

#head {
  color: white;
}

img {
  float: right;
  height: 350px;
}

.jumboimg {
  width: 100%;
  margin-bottom: 100px;
  border-bottom: 30px solid white;
}

.steth {
  border: 8px solid white;
  border-radius: 50%;
}
